.MuiButtonBase-root.button__up{
  // border: 2px solid red;
  background-color: $color-primary-button;
  color: $color-light;
  display: none;
  position: sticky;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;

  &.active{
    display: block;
  }
  &:hover{
    background-color: darken($color-primary-button, 20);
    transform: scale(1.1);
  }
}
.MuiIconButton-label{
  width: 100%;
  height: 100%;
}