@media (min-width: 991px){
  body {
      padding-bottom: 50px !important;
  }
  .footer{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 50px;
      z-index: 1030;
  }
}


@media (max-width: 767.98px) {
  header{
    li{
      &.nav-item{
        &.dropdown{
          padding-left: 5px;
        }
      }
    }
  }

      h3{
          font-size: 1.25rem;
          margin-bottom: 0.25rem;
      }
      h4, h5{
          font-size: 1rem;
          margin-bottom: 0.25rem;
      }
      ol{
          font-size: 0.85rem;
          margin-bottom: 0.25rem;
          }
      p{
          font-size: 0.85rem;
          margin-bottom: 0.75rem;
          &.lead{
              font-size: 1rem;
              margin-bottom: 0.75rem;
          }
      }
      .footer{
          &_text{
              p{
                  font-size: 0.75rem !important;
              }
          }
      }

}

@media (max-width: 575.98px) {
  .card{
    h4{
      &.card-title{
        font-size: 1rem;
      }
    }
    h5{
        &.card-title{
          font-size: 0.75rem;
        }
    }
    p{
      &.card-text{
        font-size: 0.7rem;
      }
    }
  }
  article{
    .carousel-inner{
      img{
        &.w-100{
          width: 60% !important;
          margin: auto !important;
        }
      }
    }
  }
  .footer{
      &_text{
          p{
              font-size: 0.7rem!important;
          }
      }
  }

  .map{
      .nav-link{
          padding: 0.2rem 0.4rem!important;
          font-size: 0.7rem!important;
          &:first-child{
              font-size: 1rem!important;
          }
          &:last-child{
              margin-bottom: 0.4rem!important;
          }
      }
  }
}
