// variable
$color-test:red;

body {
  margin-bottom: 60px;
  padding-top: 60px;
}
// header стили
.fab{
    &.fa-bandcamp{
        float: left;
        margin-right: 5px;
        padding-top: 5px;
    }
}
header{
  nav{
    &.navbar{
    max-width: 1200px;
    margin: auto;
    }
  }
    .navbar-text{
        color:#fff !important;
    }
    .collapse{
        text-transform: uppercase;
    }
}

// main стили
.main{
    padding-top: 5px;
    max-width: 1200px;
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
        .row-img{
          padding-left: 1px;
          padding-right: 1px;
        }
    }
    article{
      h5{
        text-align: center;
      }
    }

  &.container-fluid{
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}
