// variable
$color-test:red;

// header стили
.fab{
    &.fa-bandcamp{
        float: left;
        margin-right: 5px;
        padding-top: 5px;
    }
}
header{
    .container{
        max-width: 1200px;
    }
    .navbar-text{
        color:#fff !important;
    }
    .collapse{
        text-transform: uppercase;
    }
}

// main стили
.main{
    padding-top: 5px;
    max-width: 1200px;
    .row{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
