@charset "UTF-8";
@media (min-width: 991px) {
  body {
    padding-bottom: 50px !important; }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    z-index: 1030; } }
@media (max-width: 767.98px) {
  header li.nav-item.dropdown {
    padding-left: 5px; }

  h3 {
    font-size: 1.25rem;
    margin-bottom: 0.25rem; }

  h4, h5 {
    font-size: 1rem;
    margin-bottom: 0.25rem; }

  ol {
    font-size: 0.85rem;
    margin-bottom: 0.25rem; }

  p {
    font-size: 0.85rem;
    margin-bottom: 0.75rem; }
    p.lead {
      font-size: 1rem;
      margin-bottom: 0.75rem; }

  .footer_text p {
    font-size: 0.75rem !important; } }
@media (max-width: 575.98px) {
  .card h4.card-title {
    font-size: 1rem; }
  .card h5.card-title {
    font-size: 0.75rem; }
  .card p.card-text {
    font-size: 0.7rem; }

  article .carousel-inner img.w-100 {
    width: 60% !important;
    margin: auto !important; }

  .footer_text p {
    font-size: 0.7rem !important; }

  .map .nav-link {
    padding: 0.2rem 0.4rem !important;
    font-size: 0.7rem !important; }
    .map .nav-link:first-child {
      font-size: 1rem !important; }
    .map .nav-link:last-child {
      margin-bottom: 0.4rem !important; } }
html {
  position: relative;
  min-height: 100%;
  width: 100%; }

body {
  padding-top: 60px; }

a {
  color: #17a2b8; }

.nav-pills .show > .nav-link {
  background-color: #17a2b8; }

.fab.fa-bandcamp {
  float: left;
  margin-right: 5px;
  padding-top: 5px; }

header {
  padding-left: 5px !important; }
  header nav .nav-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle; }
  header .navbar-text {
    color: #fff !important; }
  header .collapse {
    text-transform: uppercase; }
  header .navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.7); }
    header .navbar-dark .navbar-nav .nav-link:hover {
      color: rgba(255, 255, 255, 0.9); }
    header .navbar-dark .navbar-nav .nav-link:focus {
      color: rgba(255, 255, 255, 0.9); }

.main {
  padding-top: 5px;
  max-width: 1200px; }
  .main .row {
    margin-left: 0 !important;
    margin-right: 0 !important; }
    .main .row .carousel img.img-fluid {
      max-height: 270px;
      max-width: 215px; }
    .main .row .nav {
      border-radius: 0.5rem;
      text-transform: uppercase; }
  .main section h3 {
    text-align: center; }
  .main article h5 {
    text-align: center; }
  .main.container-fluid {
    padding-left: 5px !important;
    padding-right: 5px !important; }
  .main .section-p {
    margin-bottom: 0; }

.row-padding {
  padding: 5px 3px; }

.card .card-header {
  padding: 0.25rem 0.5rem;
  background-color: rgba(0, 0, 0, 0.12); }
.card .card-title {
  margin-bottom: 0.25rem; }
.card .card-body {
  padding: 0.25rem 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
.card h4.card-title {
  font-size: 1.15rem; }
.card h5.card-title {
  font-size: 0.9rem; }
.card p.card-text {
  font-size: 0.8rem; }

.map .nav-link {
  padding: 0.3rem 0.5rem;
  font-size: 0.8rem; }
  .map .nav-link:first-child {
    font-size: 1.1rem; }
  .map .nav-link.map-secondary {
    margin-left: 8px; }
  .map .nav-link.map-tertiary {
    margin-left: 16px; }
  .map .nav-link:last-child {
    margin-bottom: 0.5rem; }

.tab-content a.nav-link {
  text-transform: none; }
.tab-content li p {
  padding-top: 8px;
  margin-bottom: 0; }

.footer {
  padding-top: 5px; }
  .footer_menu {
    padding: 0.5rem 1rem; }
  .footer_text {
    color: #fff;
    padding: 0.1rem 0.2rem; }
    .footer_text p {
      font-size: 0.85rem; }
    .footer_text_p {
      margin-bottom: 0.1rem; }
    .footer_text a.nav-link {
      display: inline;
      padding: 0; }
  .footer .nav-link {
    color: rgba(255, 255, 255, 0.7); }
    .footer .nav-link:hover {
      color: rgba(255, 255, 255, 0.9); }
    .footer .nav-link:focus {
      color: rgba(255, 255, 255, 0.9); }
    .footer .nav-link.active {
      color: #fff;
      border-bottom: 1px solid #fff; }

.scrollup {
  position: fixed;
  color: #fff;
  /* цвет текста */
  background-color: #286090;
  /* цвет заднего фона */
  right: 10px;
  /* расстояние от правого края */
  bottom: 10px;
  /* расстояние от нижнего края */
  padding: 2px 4px;
  /* отступы до содержимого блока */
  font-size: 16px;
  /* размер шрифта (иконки) */
  border-radius: 4px;
  cursor: pointer;
  /* форма курсора */
  display: none;
  /* не отображать элемент */
  text-align: center;
  /*выравнивание содержимого элемента по центру */
  z-index: 10;
  opacity: .75; }
  .scrollup:hover {
    background-color: #3aa111;
    /* цвет заднего фона при наведении */ }
  .scrollup p {
    font-size: 8px;
    /* размер шрифта (иконки) */
    margin-bottom: 0;
    text-transform: uppercase; }

.bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #286090;
  /* цвет стрелочки (по умолчанию #000)*/ }

.bs-tooltip-right .arrow::before, .bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #286090;
  /* цвет стрелочки (по умолчанию #000)*/ }

.bs-tooltip-bottom .arrow::before, .bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #286090;
  /* цвет стрелочки (по умолчанию #000) */ }

.bs-tooltip-left .arrow::before, .bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #286090;
  /* цвет стрелочки (по умолчанию #000) */ }

.tooltip-inner {
  color: #fff;
  /* цвет шрифта */
  background-color: #286090;
  /* цвет фона (по умолчанию #000) */
  border-radius: 0.25rem;
  /* радиус скругдения углов */
  opacity: 0.95; }

.img_css {
  border-radius: 5px;
  height: 32px;
  margin-right: 20px;
  margin-left: 5px;
  margin-top: 5px; }

/*# sourceMappingURL=style.css.map */
